body {
  background-color: #fff;
  color: #000;
  font-family: Arial, sans-serif;
  font-size: 14px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.note {
  background-color: #333;
  border-radius: 10px;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3), -2px -2px 20px rgba(255, 255, 255, 0.3);
  color: #fff;
  display: inline-block;
  font-size: 18px;
  padding: 20px;
  text-align: center;
   flex-basis: calc(33.33% - 10px);
margin-bottom: 20px;
}

.note::after {
  content: "";
  background-color: #333;
  border-radius: 10px;
  box-shadow: inset 2px 2px 15px rgba(255, 255, 255, 0.3), inset -2px -2px 20px rgba(0, 0, 0, 0.3);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}

.note:hover::after {
  transform: scale(1);
}

.note h3 {
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3), -1px -1px 2px rgba(255, 255, 255, 0.3);
}


h2 {
  background-color: #FFCC00;
  border-radius: 10px 10px 0 0;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  padding: 20px;
  top: -20px;
  left: 20px;
  right: 20px;
  text-align: center;
  background-image: linear-gradient(45deg, #FFCC00, #FFCC33, #FFCC66, #FFCC99, #FFCCCC);
  background-size: 400% 400%;
  animation: candy-bar 4s ease infinite;
}

@keyframes candy-bar {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


ul {
  list-style: none;
  padding-left: 0;
}

li {
  margin-bottom: 10px;
  position: relative;
  padding-left: 25px;
}

li:before {
  content: "\270E";
  font-size: 18px;
  position: absolute;
  left: 0;
  top: 0;
}
